<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Genre</title>
<div class="background">
  <div class="container">
    <h1>Choose a Genre</h1>
    <div class="row">
      <div class="col-md-3 col-xs-3">
        <h2>
          <button (click)="submit('jazz')" class="btn btn-link">Jazz</button>
        </h2>
      </div>
      <div class="col-md-3 col-xs-3">
          <h2>
            <button (click)="submit('hip hop')" class="btn btn-link btn-style">Hip Hop</button>
          </h2>
      </div>
      <div class="col-md-3 col-xs-3">
          <h2>
            <button (click)="submit('rock')" class="btn btn-link btn-style">Rock</button>
          </h2>
      </div>
      <div class="col-md-3 col-xs-3">
          <h2>
            <button (click)="submit('pop')" class="btn btn-link btn-style">Pop</button>
          </h2>
      </div>
      </div>
      <div class="row">
      <div class="col-md-4 col-xs-4">
          <h2>
            <button (click)="submit('classical')" class="btn btn-link btn-style">Classical</button>
          </h2>
      </div>
      <div class="col-md-4 col-xs-4">
          <h2>
            <button (click)="submit('non-music')" class="btn btn-link btn-style">Non-music</button>
          </h2>
      </div>
      <div class="col-md-4 col-xs-4">
          <h2>
            <button (click)="submit('stage%&%screen')" class="btn btn-link btn-style">Movies & TV</button>
          </h2>
      </div>
    </div>
  </div>
</div>